body {
  font-family: Arial;
  font-size: 16px;
}
header {
  background-color: bisque;
  color: black;
}
header .col-xl-6:first-child {
  padding-top: 8px;
}
header a {
  color: black !important;
  text-transform: capitalize;
}
header a:hover {
  color: aliceblue;
  text-decoration: underline;
}
.navbar {
  background-color: #dbf3fa !important;
}
.about {
  border: solid;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: rgb(116, 111, 111);
  color: rgb(248, 248, 253);
}
.about h1 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 50px;
}
.about p {
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 15px;
  line-height: 2;
  text-align: auto;
}
/* for mobile devices */

@media only screen and (max-width: 768px) {
  header .col-xl-6:first-child {
    text-align: center;
  }
}
header ul.nav {
  justify-content: center !important;
}
.about h1 {
  text-align: center;
}
.skills img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.skills {
  text-align: center;
}
.skills1 img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.skills1 {
  text-align: center;
}
footer {
  background-color: #a98f8f;
  color: white;
}
